<div class="container">
    <div class="row">
        <h1>Add new movie to cineapp+</h1>
    </div>
</div>


<div class="container form-add">
    <form  [formGroup]="miFormulario"    (ngSubmit)="edit ? updatePelicula() : submitMovies()">
        <div class="row">
            <div class="col-6">
                <label for="">Titulo:</label>
                <input type="text" formControlName="titulo" [(ngModel)]= "pelicula.titulo" class="form-control" placeholder="Nombre de la pelicula" >
                <p *ngIf="!miFormulario.controls['titulo'].valid" class="text-danger">El titulo debe de tener al menos 2 caracteres</p>
    
                <label for="">Clasificación:</label>
                <input type="text" class="form-control" [(ngModel)]="pelicula.clasificacion" formControlName="clasificacion" placeholder="A, B ó C">
                <p *ngIf="!miFormulario.controls['clasificacion'].valid" class="text-danger">El clasificación solo debe tener 1 letras</p>

                <label for="">Genero:</label>
                <input type="text" class="form-control" [(ngModel)]= "pelicula.genero" name="genero" placeholder="Genero">

                <label for="">Estado:</label> 
                <!-- <input type="text" class="form-control" [(ngModel)]= "pelicula.estatus" name="estatus" placeholder="Estado"> -->
                <select class="form-control select-option" [(ngModel)]= "pelicula.estatus" name="estatus">
                    <option value="activo">Activo</option>
                    <option value="inactivo">Inactivo</option>
                </select>
            </div>

            <div class="col-6">
                <label for="">Duración:</label>
                <input type="text" class="form-control" [(ngModel)]="pelicula.duracion" formControlName="duracion" placeholder="Duracion de la pelicula">
                <p *ngIf="!miFormulario.controls['duracion'].valid" class="text-danger">La duración debe ser en minutos</p>

                <label for="">Portada:</label>
                <input type="text" class="form-control" [(ngModel)]="pelicula.imagen" name="imagem" placeholder="Url de la portada">

                <label for="">Fecha de estreno:</label>
                <input type="calendar" class="form-control" [(ngModel)]= "pelicula.fechaEstreno" name="fechaEstreno" placeholder="28/08/2021">

                <label for="">Detalle:</label>
                <!-- <input type="text" class="form-control" [(ngModel)]= "pelicula.detalle_id" name="detalle_id" placeholder="Estado"> -->
                <select class="form-control select-option" [(ngModel)]= "pelicula.detalle_id" name="detalle_id">
                    <option value="director"></option>
                    <option value="actores"></option>
                    <option value="descripcion"></option>
                </select>
            </div>
            
            <button  [disabled]="!miFormulario.valid"  class="btn btn-primary btn-save">Save Movie</button>
        
        </div>
    </form>
</div>
