<div class="container">
    <div class="row">
        <h1>Add new movie to cineapp+</h1>
    </div>
</div>


<div class="container form-add">
    <div class="row">
        <div class="col-6">
           
            <form  [formGroup]="miFormulario"    (ngSubmit)="edit ? updatePelicula() : submitMovies()">
                <label for="">Titulo:</label>
                <input type="text" formControlName="titulo" [(ngModel)]= "pelicula.titulo" class="form-control" placeholder="Nombre de la pelicula" >
                <p *ngIf="!miFormulario.controls['titulo'].valid" class="text-danger">El titulo debe de tener al menos 2 letras</p>
                
                
                <label for="">Duración:</label>
                <input type="text" class="form-control" [(ngModel)]="pelicula.duracion" formControlName="duracion" placeholder="Duracion de la pelicula">
                <p *ngIf="!miFormulario.controls['duracion'].valid" class="text-danger">El duración debe tener menos 8 letras</p>
                
                <label for="">Clasificación:</label>
                <input type="text" class="form-control" [(ngModel)]="pelicula.clasificacion" formControlName="clasificacion" placeholder="Clasificacion">
                <p *ngIf="!miFormulario.controls['clasificacion'].valid" class="text-danger">El clasificación solo debe tener 1 letras</p>
               
                <label for="">Imagen:</label>
                <input type="text" class="form-control" [(ngModel)]="pelicula.imagen" name="imagem" placeholder="Imagen">
               
               
                <label for="">Genero:</label>
                <input type="text" class="form-control" [(ngModel)]= "pelicula.genero" name="genero" placeholder="Genero">
                
                
                <label for="">Estado</label>
                <input type="text" class="form-control" [(ngModel)]= "pelicula.estatus" name="estatus" placeholder="Estado">
               
               
                <label for="">Fecha</label>
                <input type="calendar" class="form-control" [(ngModel)]= "pelicula.fechaEstreno" name="fechaEstreno" placeholder="Estado">
                
               
                <label for="">Detalle</label>
                <input type="text" class="form-control" [(ngModel)]= "pelicula.detalle_id" name="detalle_id" placeholder="Estado">
                <button  [disabled]="!miFormulario.valid"  class="btn btn-primary btn-save">Save Movie</button>
            </form>
        </div>
    </div>
</div>
